# Environment for Maze core.
name: maze
channels:
  - pytorch
  - conda-forge
dependencies:
  # Python 3.10 is currently the highest python version that works with all our dependencies.
  # [17.07.2023] python 3.11 is currently not supported by hydra-nevergrad-sweeper (version 1.3.0.dev0)
  - python=3.10
  - cudatoolkit
  - pytorch=2.3.0
  - pygraphviz
  - pip
  - pandas
  - numpy>=1.21.0
  # swig is needed for Box2D, box2d-py but does not work with the pip installer
  - swig
  - pip:
      # you can find more info on how to install torch-scatter for your specific cuda version here:
      # https://pytorch-geometric.readthedocs.io/en/latest/notes/installation.html#installation-via-pip-wheels
      - --find-links https://data.pyg.org/whl/torch-2.3.0+cpu.html
      - torch-scatter
      # needed by torch
      - fsspec
      - jupyterlab
      - pyyaml
      - tensorboard
      - requests
      - pillow
      - hydra-core
      # Hydra nevergrad sweeper currently only support python 3.10
      - hydra-nevergrad-sweeper==1.3.0.dev0
      - gymnasium[all]
      - networkx
      - matplotlib
      - seaborn
      - tqdm
      - imageio
      # train
      - redis==3.4.1
      - cloudpickle
      # testing
      - pytest
      - pytest-cov
      - pytest-xdist
      - pytest-random-order
      - pytest-timeout
      - pytest-redis