/* Disable dark mode */
.theme-toggle-container {
    visibility: hidden;
}

/* Code highlight background */
.highlight {
    background: #f2f2f2;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}