/* mobile view bar */
.wy-nav-top {
    background: #a12144;
}

/* white menu background */
.wy-side-nav-search {
    background: white;
}
.wy-nav-side {
    background: white;
}
.wy-menu-vertical {
    background-color: white;
}
.wy-side-scroll {
    background-color: white;
}

/* insert "horizontal ruler" between search box and content */
#rtd-search-form {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 25px;
}

div.wy-side-nav-search > a {
    color: #404040;
}

.wy-menu-vertical a {
    color: #404040;
}
.wy-menu-vertical a:hover {
    color: #a12144;
    font-weight: 700;
    background-color: white;
}

.wy-menu-vertical p.caption {
    color: #107DA1;
}

/* separation line between menu and content */
.wy-nav-content {
    border-left: 1px solid lightgrey;
    background: white;
}

a {
    color: #107DA1;
}

a:hover {
    color: #0D4354;
}

