# Docker Compose does not enforce build order automatically. To avoid parallel builds and ensure correct dependency
# resolution, build these images sequentially in the order listed here:
#   1. docker compose build maze-core-env
#   2. docker compose build maze-core

services:
  # Maze Core Env
  # This service builds the base Maze Core Env image from source.
  # It is intended to be used as a dependency for other builds,
  # such as the maze-core and maze image, which uses this as its base.
  maze-core-env:
    build:
      context: ../
      dockerfile: docker/maze-core-env.dockerfile
    image: "${MAZE_CORE_ENV_IMAGE}"

  # Maze Core
  # This service builds the base Maze Core image from source.
  maze-core:
    build:
      context: ../
      dockerfile: docker/maze-core.dockerfile
      args:
        MAZE_CORE_ENV: "${MAZE_CORE_ENV_IMAGE}"
    image: "${MAZE_CORE_IMAGE}"
